/*=============== BASE ===============*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html{
	scroll-behavior: smooth;
}

body,
input,
button{
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
}

body{
	background-color: var(--body-color);
	color: var(--text-color);
	cursor: url('../cursors/cursor-small.png') 8 8, url('../cursors/cursor.cur'), auto;
}

a,
button,
[role='button'],
[onclick],
[tabindex]:not([tabindex='-1']),
[data-modal-target],
[data-modal-close],
input[type='submit'],
input[type='button'],
input[type='reset'],
label[for],
summary,
.nav__logo,
.nav__admin-tools,
.nav__developer-tools,
.nav__search,
.nav__login,
.nav__toggle,
.nav__close,
.search__close,
.login__close{
	cursor: url('../cursors/pointer-small.png') 8 8, url('../cursors/pointer.cur'), pointer !important;
}

input,
button{
	border: none;
	outline: none;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	display: block;
	max-width: 100%;
	height: auto;
}
