/*=============== BASE ===============*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html{
	scroll-behavior: smooth;
}

body,
input,
button{
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
}

:root{
	--app-cursor-main: url('../cursors/Cursor/Normal.ani'), auto;
	--app-cursor-pointer: url('../cursors/Cursor/Link.ani'), pointer;
	--app-cursor-text: url('../cursors/Cursor/Text.ani'), text;
	--app-cursor-move: url('../cursors/Cursor/Move.ani'), move;
	--app-cursor-busy: url('../cursors/Cursor/Busy.ani'), progress;
	--app-cursor-help: url('../cursors/Cursor/Help.ani'), help;
	--app-cursor-unavailable: url('../cursors/Cursor/Unavailable.ani'), not-allowed;
	--app-cursor-precision: url('../cursors/Cursor/Precision.ani'), crosshair;
	--app-cursor-handwriting: url('../cursors/Cursor/Handwriting.ani'), auto;
	--app-cursor-pin: url('../cursors/Cursor/Pin.cur'), pointer;
	--app-cursor-person: url('../cursors/Cursor/Person.cur'), pointer;
}

body{
	background-color: var(--body-color);
	color: var(--text-color);
	cursor: var(--app-cursor-main);
}

a,
button,
[role='button'],
[onclick],
[tabindex]:not([tabindex='-1']),
[data-modal-target],
[data-modal-close],
input[type='submit'],
input[type='button'],
input[type='reset'],
label[for],
summary,
.nav__logo,
.nav__admin-tools,
.nav__developer-tools,
.nav__search,
.nav__login,
.nav__toggle,
.nav__close,
.search__close,
.login__close{
	cursor: var(--app-cursor-pointer) !important;
}

@media (min-width: 768px) and (pointer: fine){
	:root{
		--app-cursor-main: url('../cursors/Cursor/Normal.ani'), auto;
		--app-cursor-pointer: url('../cursors/Cursor/Link.ani'), pointer;
	}
}

@media (min-width: 1280px) and (pointer: fine){
	:root{
		--app-cursor-main: url('../cursors/Cursor/Normal.ani'), auto;
		--app-cursor-pointer: url('../cursors/Cursor/Link.ani'), pointer;
	}
}

@media (min-width: 1600px) and (min-resolution: 2dppx) and (pointer: fine){
	:root{
		--app-cursor-main: url('../cursors/Cursor/Normal.ani'), auto;
		--app-cursor-pointer: url('../cursors/Cursor/Link.ani'), pointer;
	}
}

input,
button{
	border: none;
	outline: none;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	display: block;
	max-width: 100%;
	height: auto;
}
